<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>


    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="index.css">
    <title>Live Gold <Prices></Prices>er Prices</title>
    <div class="container">
        <div class="bg-primary" style="text-align: center;font-family: 'Times New Roman'"><h1>CURRENT PRICES</h1></div>
    </div>
    <script src="app.js"></script>

</head>
<body ng-app=calculate>

<div ng-controller=calculatectrl>
    <form>
        <div class="form-group"> <label for="currency"></label>
            <input type="text" class="form-control" placeholder="GBP" id="currency" ng-model="c">
        </div>
        <br>
        <div class="form-group"> <label for="amount"></label>
            <input type="number" class="form-control" placeholder="1000" id="amount" ng-model="a">
        </div>
        <br><br>

<div class="left">
        <button class="btn btn-success" ng-click="price()">Get Estimation</button>
    </div>
        </form>


    <div class="container">
        <p ng-model="rate">
            <br><br>

        <div class="bg-danger">Gold Rate&nbsp&nbsp&nbsp: {{rate.cost}} {{rate.code}} = {{rate.gold}}&nbsp&nbsp1000 GBP=0.92 XAU-Gold Ounce </div><br>
        <div class="bg-success">Silver Rate&nbsp: {{rate.cost}} {{rate.code}} = {{rate.silver}}&nbsp&nbsp1000 GBP= 68.76 XAG-Silver Ounce</div><br>



        </p>
    </div>
    </div>
</div>

</body>
</html>