form{
    padding-left:20%;
    padding-right: 20%;
    padding-top: 5%;
    color: #761c19;
    font-size: medium;
    font-family: "Comic Sans MS";


}
select{
    width: 100%;
}

body{
    background-image:url("bg.jpg");
background-size: 100%;

}
.btn{
    width: 15%;

}
.centered
{
    text-align: center;
}
.container{
    padding-left:10%;
    padding-right:10%;
    font-size: large;
    font-family: "Comic Sans MS";
}
.btn-group{
    width:100%;
}